@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Rubik+80s+Fade&display=swap');

body {
    font-family: 'Rubik 80s Fade', cursive;
    background-color: #1C315E;
    padding: 15px;
}

.title {
    color: white;
    font-size: 70px;
    margin: 10px;
}

.subtitle {
    color: white;
    font-size: 24px;
    margin: 10px;
    font-family: 'Audiowide', cursive;
}

#singer-choice-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.singer-card {
    width: 250px;
    height: 450px;
    background-color: #227C70;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #E6E2C3;
    border-radius:  20px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
}

.singer-card p{
    font-family: 'Rubik 80s Fade', cursive;
    color: black;
    font-size: 20px;
}

.singer-card img {
    width: 240px;
}

input {
    display: none;
}

input:checked + label {
    border: 8px solid #E6E2C3;
}

#select-singer-button {
    background-color: #88A47C;
    padding: 10px;
    margin:  10px;
    border: 2px solid #227C70;
    box-sizing: border-box;
    border-radius: 15px;
    width: 350px;
    font-family: 'Rubik 80s Fade', cursive;
    font-size: 50px;
}

.cards, .attacks {
    display: flex;
    gap: 10px;
}

#attack-choice-section {
    flex-direction: column;
    align-items: center;
}

.attacks {
    display: flex;
    flex-direction: row;
}

.attack-button {
    background-color: #227C70;
    border: 2px solid #E6E2C3;
    padding: 15px;
    margin: 8px;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

#messages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    background-color: #E6E2C3;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

#reset-game-button {
    border: none;
    color: #88A47C;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

.player-attacks, .enemy-attacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #88A47C;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
    border: 5px dotted #227C70;
}

#see-map {
    flex-direction:  column;
    align-items: center;
    justify-content: center;
}

#map {
    border: 2px solid #E6E2C3;
    border-radius: 15px;
    height: 400px;
}

.move-buttons {
    display: none;
    flex-direction: row;
}

.move-buttons button {
    display: flex;
    flex-direction: row;
    background-color: #227C70;
    border: 2px solid #E6E2C3;
    padding: 15px;
    margin: 8px;
    border-radius: 30px;
    box-sizing: border-box;
    font-family: 'Audiowide', cursive;
    font-size: 15px;
}

@media (max-width: 500px) {
    .cards, .attacks {
        flex-direction: column;
    }

    .singer-card {
        width: 100px;
        height: 180px;
        margin: 5px;
        padding: 5px;
    }

    .singer-card img {
        width: 70px;
    }

    .singer-card p {
        font-size: 15px;
    }

    .title {
        font-size: 40px;
        margin: 5px;
    }

    .subtitle {
        font-size: 12px;
        margin: 5px;
    }

    #select-singer-button {
        padding: 5px;
        margin:  5px;
        border-radius: 8px;
        width: 150px;
        font-size: 20px;
    }
}
